<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="NFMT_Basic_ConnectStr" connectionString="metadata=res://*/Basic.csdl|res://*/Basic.ssdl|res://*/Basic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-GQL12Q5U7GQ;initial catalog=NFMT_Basic;user id=sa;password=maike123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NFMT_User_ConnectStr" connectionString="metadata=res://*/User.csdl|res://*/User.ssdl|res://*/User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-GQL12Q5U7GQ;initial catalog=NFMT_User;user id=sa;password=maike123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Financing_ConnectStr" connectionString="metadata=res://*/Finance.csdl|res://*/Finance.ssdl|res://*/Finance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.18.251;initial catalog=Financing;user id=sa;password=mk7788250;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NFMT_Sms_ConnectStr" connectionString="metadata=res://*/Sms.csdl|res://*/Sms.ssdl|res://*/Sms.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-GQL12Q5U7GQ;initial catalog=NFMT_Sms;user id=sa;password=maike123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NFMT_WorkFlow_ConnectStr" connectionString="metadata=res://*/WorkFlow.csdl|res://*/WorkFlow.ssdl|res://*/WorkFlow.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-GQL12Q5U7GQ;initial catalog=NFMT_WorkFlow;user id=sa;password=maike123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>