@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>登录_@FinanceApp.Common.DefaultValue.SystemName</title>
    <meta name="keywords" content="@FinanceApp.Common.DefaultValue.SystemName" />
    <meta charset="utf-8">
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <script src="/Content/jqwidgets/styles/jqx.base.css" type="text/css"></script>
    <script src="/Content/jqwidgets/styles/jqx.metro.css" type="text/css"></script>
    <script src="/Content/jqwidgets/scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/Content/jqwidgets/scripts/jqx-all.js" type="text/javascript"></script>

</head>
<body>
    <div style="text-align:center;">
        <div class="header">
            <h1 class="headerLogo">
                <a title="<%=NFMT.Common.DefaultValue.SystemName%>" target="_blank" href="#"><img src="/Content/images/maike.png" alt="迈科" width="200" /> </a>
            </h1>
            <div class="headerNav">发现价值&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创造价值&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分享价值</div>
        </div>
    </div>

    <div class="wrap">
        <div class="banner-show" id="js_ban_content">
            <div class="cell bns-01">
                <div class="con"></div>
            </div>
            <div class="cell bns-02" style="display: none;">
                <div class="con"><%--<a href="#" target="_blank" class="banner-link"><i>圈子</i></a> --%></div>
            </div>
            <div class="cell bns-03" style="display: none;">
                <div class="con"><%--<a href="#" target="_blank" class="banner-link"><i>企业云</i></a> --%></div>
            </div>
        </div>
        <%--<div class="banner-control" id="js_ban_button_box"><a href="javascript:;" class="left">左</a> <a href="javascript:;" class="right">右</a> </div>--%>
        <script type="text/javascript">
            function EnterClick(e) {
                if (e.which === 13 || e.keyCode === 13) {
                    $("#btnLogin").click();
                }
            }
        </script>
        <div class="container">
            <div class="register-box">
                <div class="reg-slogan">@FinanceApp.Common.DefaultValue.SystemName</div>
                <div class="reg-form" id="js-form-mobile">
                    <br>
                    <div class="cell">
                        <input type="text" name="mobile" id="txbUserName" class="text"  maxlength="20" placeholder="用户名" />
                    </div>
                    <div class="cell">
                        <input type="password" name="passwd" id="txbPassWord" class="text" placeholder="密码" onkeydown="javascript:EnterClick(event);" />
                    </div>
                    <div class="bottom">
                        <a id="btnLogin" onclick="login()" class="button btn-blue">登录</a>
                    </div>
                </div>
                <script type="text/javascript">
                    $("#txbUserName").focus();

                    //验证器
                    $("#js-form-mobile").jqxValidator({
                        rules:
                            [
                                { input: "#txbUserName", message: "用户名不可为空", action: "keyup", rule: "required" },
                                { input: "#txbPassWord", message: "密码不可为空", action: "keyup", rule: "required" }
                            ]
                    });

                    function setCookie(c_name, value, expiredays) {
                        var exdate = new Date();
                        exdate.setDate(exdate.getDate() + expiredays);
                        document.cookie = c_name + "=" + escape(value) + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
                    }

                    function GetUrlParam(name) {
                        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                        var r = window.location.search.substr(1).match(reg);
                        if (r != null) return unescape(r[2]); return null;
                    }

                    function login() {
                        var isCanSubmit = $("#js-form-mobile").jqxValidator("validate");
                        if (!isCanSubmit) { return; }

                        try {
                            $.get("/api/Values", {
                                "accountName": $("#txbUserName").val(), "passWord": $("#txbPassWord").val()
                            }, function (result) {
                                alert(result);

                                var obj = JSON.parse(result);
                                if (obj.ResultStatus.toString() !== "0") {
                                    alert(obj.Message);
                                } else {
                                    //setCookie("<%=NFMT.Common.DefaultValue.CookieName%>", obj.ReturnValue, 1);
                                    alert("成功");
                                    @*var url = GetUrlParam("redirectUrl");
                                    if (url)
                                        window.location.href = url;
                                    else
                                        window.location.href = "@FinanceApp.Common.DefaultValue.SiteName";*@
                                        }
                            });
                        } catch (e) {
                            alert(e.message);
                        }
                    }
                </script>
            </div>
        </div>
    </div>

    <div class="banner-shadow"></div>
    <div class="footer">
        <p>迈科集团&nbsp;&nbsp;&nbsp;信息技术部</p>
    </div>

</body>
</html>
